@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@theme {
  --color-gray-custom: #f3f3f3;
  --color-green-custom: #b9ff66;
  --color-sky-night-custom: #191a23;
  /* font */
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

.animate-marquee {
  animation: marquee 14s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Testimonials slider */
.swiper-custom-prev:disabled,
.swiper-custom-next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.custom-pagination .custom-bullet {
  background: transparent;
  border: none;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  padding: 6px;
  width: 30px;
  height: 30px;
}

.custom-bullet:hover {
  transform: scale(1.1);
}

.custom-bullet.swiper-pagination-bullet-active {
  color: var(--color-green-custom);
  transform: scale(1.1);
}

.custom-bullet svg {
  transition: all 0.3s ease;
}

.custom-bullet.swiper-pagination-bullet-active svg {
  filter: drop-shadow(0 0 4px white);
}

/* Hide default Swiper pagination */
.testimonials-swiper .swiper-pagination {
  display: none;
}

.clip-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: transparent;
}
